.body {
    background-color: white;
    color: #202020;
    margin: auto;
    font-family:'Prata', serif;
}

.jumbotron {
    text-align: center;
}


.display-4 {
    font-size: 3rem;
    margin-top: -1%;
    margin-bottom: 0;
}

.intro {
    font-size: 1rem;
}